body {
    max-width: 1360px;
    width: 100%;
}
/* header */
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 25px 95px 25px 94.1px;
    border: 1px solid #707070;
}
.logo {
    vertical-align: middle;
}
.ul-list {
    display: flex;
    vertical-align: middle;
}
.li-list {
    margin-right: 48px;
}
.last-list {
    margin-right: 0px;
}
.a-list {
    font-size: 15.74px;
    text-transform: uppercase;
    line-height: 37px;
    color: #303134;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.active-list {
    color: #08AEEA;
}
.toggle-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 40px;
    cursor: pointer;
    display: none;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #303134;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    transition: 0.3s linear;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

/* styles for api.html */
.api {
    max-width: 1300px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px; 
}
.api-title {
    font-size: 20px;
    color:  #08AEEA;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}
.users-list {
    display: flex;
    justify-content: space-between;
}

/* slider */
.slider-content {
    width: 100%;
}
.slider-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}
.slider-wrapper {
    position: relative;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 33px;
    height: 33px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-right {
    right: 95px;
}
.arrow-left {
    left: 95px;
}
.fa-solid {
    font-size: 18px;
}
.slider-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 586px;
    width: 100%;
    text-align: center;
}
.price {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    line-height: 37px;
    color: #006CD1;
    margin-top: 33.4px;
}
.slider-title {
    font-size: 78.74px;
    line-height: 52.96px;
    color: #fff;
    margin-top: 39.8px;
    margin-bottom: 36.3px;
}
.slider-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    color: #fff;
    text-transform: uppercase;
}

/* section 2 */
.section2-wrapper {
    max-width: 1171.57px;
    display: flex;
    justify-content: space-between;
    margin: 75.8px auto 49px auto;
}
.text-box {
    width: 241.47px;
}
.card-box {
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.card-div-wrapper {
    width: 269.07px;
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
}
.card-div-wrapper:nth-child(4) {
    margin-top: 21.6px;
}
.card-div-wrapper:nth-child(5) {
    margin-top: 21.6px;
}
.card-div-wrapper:nth-child(6) {
    margin-top: 21.6px;
}
.text-box-title2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #8D8D8D;
    font-size: 16px;
    line-height: 37px;
    margin-bottom: 6.2px;
}
.text-box-title3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 37px;
    color: #1A1A1B;
}
.blue-line  {
    width: 46.3px;
    height: 2px;
    background-color: #4B54FA;
    margin: 7.8px 0 28.6px 0;
    
}
.text-box-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #8D8D8D;
    font-size: 16px;
    line-height: 22px;
}
.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #1A1A1B;
    font-size: 18px;
    line-height: 22px;
    margin: 22.4px 0 8.8px;
    text-transform: uppercase;
}
/* overlay */
.overlay {
    position: fixed;
    max-width: 500px;
    width: 100%;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #006CD1;
    opacity: 90%;
    display: none;
}
.overlay.active-overlay {
    display: block;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}
.fa-x {
    color: rgb(23, 22, 22);
    font-size: 30px;
}
/* section3 */
.section3-imgW {
    width: 100%;
    background-image: url('../images/beach.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section3-imgW::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%;
}
.video-wrapper {
    max-width: 663px;
    width: 100%;
    height: 314px;
    position: absolute;   
}
.video-content {
    position: absolute;
    max-width: 663px;
    width: 100%;
    margin: 0 auto;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    text-align: center;
}
.scnd-line {
    margin: 7.8px auto 52.4px auto;
    background-color: #fff;
}
.video-title {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 37px;
    margin-bottom: 6.2px;
    text-transform: uppercase;
}
.video-text {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 26px;
}

.price-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 111px;
    height: 205px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 66px;
}
.each-price-div {
    text-align: center;
}
.price-number {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 4.9px;
    color: #1A1A1B;
}
.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #1A1A1B;
    text-transform: uppercase;
}
.icon {
    margin-bottom: 23px;
}
.icon3 {
    margin-bottom: 22px;
}
.icon4 {
    margin-bottom: 26px;
}
/* section 4 */
.section-wrapper {
    max-width: 863px;
    width: 100%;
    margin: 0 auto;
}
.section-heading {
    width: 267px;
    margin: 0 auto;
    text-align: center;
}
.section-title1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15.98px;
    font-weight: 600;
    color: #8D8D8D;
    line-height: 36.95px;
    margin-bottom: 6,4px;
    text-transform: uppercase;
}
.section-title2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25.96px;
    color: #1A1A1B;
    line-height: 36.95px;
}
.third-line {
    margin-top: 10px;
    width: 46px;
    height: 1px;
    background-color: #4B54FA;
    margin: 0 auto;
}
.box-wrapper {
    width: 100%;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
}
.banner {
    width: 267px;
    box-shadow: 2px 2px 5px #707070;   
    position: relative;
}
.banner-texts {
    width: 189px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 23px;
}
.banner-price {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1B;
    line-height: 37px;
}
.banner-title {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 37px;
    color: #4B54FA;
}
.text-on-photo {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #1A1A1B;
    background-color: yellow;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 37px;
    width: 98px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section 5 */
.bg-img {
    width: 100%;
    height: 350px;
    background-image: url('../images/surfing.jpg');
    position: relative;
    margin-bottom: 67px;
}
.bg-img::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(#08AEEA, #2AF598);
    opacity: 60%;
}
.form-texts-wrapper {
    position: absolute;
    max-width: 600px;
    width: 100%;
    top: 74.5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    text-align: center;
}
.form-title1 {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 37px;
    margin-bottom: 21px;
}
.form-title2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 61.5px;
    color: #FFFFFF;
}
.form-wrapper {
    display: flex;
    justify-content: space-between;
}
/* email input */
.email {
   padding: 14px 0 17px 30px;
   border-radius: 25px;
   max-width: 395px;
   width: 100%;
   border: 2px solid #fff;
   background-color: transparent;
}
.form-div {
    width: 100%;
}
.email::placeholder {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.email:focus {
    outline: none;
}
.submit-btn {
    width: 155px;
    height: 50px;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    color: #08AEEA;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 22px;
}
.error-text {
    color: red;
    font-style: italic;
    display: block;
}
/* section 6 */
.people-cards-wrapper {
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
}
.person-card {
    max-width: 368px;
    width: 100%;
    background-color: #F4F4F4;
}
.person1-img {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: red;
    margin-top: 54px;
    overflow: hidden;
}
.person-info {
    width: 296.87px;
    margin: 0 auto;
}
.person-name {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 17.5px;
    margin-bottom: 37.6px;
    color: #4B54FA;
}
.person-description {
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
}
.fa-quote-right{
    font-size: 50px;
    color: #2C2C2C;
    margin: 50px 0;
}
.backgroung-img {
    width: 100%;
    background-image: url('../images/beach.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 67px;
}
.background-content {
    position: absolute;
    top: 312px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
   
}
.button-titile {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 49.8px;
    color: #FEFEFF;
}
.button-book {
    width: 170px;
    height: 50px;
    background: linear-gradient(#08AEEA, #2AF598);
    border-radius: 25px;
    border: none;
    color: #FEFEFF;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 600;
    cursor: pointer;
}
/* section7 */
.country-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1173px;
    width: 100%;
    margin: 70px auto 18px auto;
}
.country-text {
    position: absolute;
    top: 356px;
    left: 13.4px;
}
.country-text {
    display: flex;
    /* justify-content: space-between; */
    z-index: 10;
}
.country-name {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #FEFEFF;
    line-height: 37px;
}
.tour-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #FEFEFF;
    line-height: 37px;
}
.arrow-wrapper {
    background: linear-gradient(#08AEEA, #2AF598);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 65px;
    margin-top: 18px;
    cursor: pointer;
}
.fa-arrow-right {
    color: #FFFFFF;
    font-size: 20px;
}
.each-country {
    width: 271px;
    height: 425px;
    position: relative;
}
.each-country::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 30%;
}
.country1 {
    background-image: url('../images/first.png');
}
.country2 {
    background-image: url('../images/third.png');
}
.country3 {
    background-image: url('../images/third.png');
}
.country4 {
    background-image: url('../images/first.png');
}
.map {
    width: 100%;
    height: 435px;
}
/* footer */
.footer {
    background-color: #141418;
    /* height: 349px; */
    padding-top: 53.9px;
}
.container {
    max-width: 1179px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.quick-links,
.support, 
.addess {
    width: 222.46px;
}
.footer-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 40.48px;
    font-size: 15.99px;
    color: #FFFFFF;
}
.footer-list {
    font-family: 'Raleway', sans-serif;
    font-size: 15.99px;
    font-weight: 400;
    line-height: 40.48px;
    color: #DCDBDB;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
}
.email-label {
    font-family: 'Roboto', sans-serif;
    font-size: 15.98px;
    line-height: 34.38px;
    color: #FFFFFF;
}
.email-subscribe {
    margin-left: 150px;
    max-width: 343.06px;
    width: 100%;
}
.footer-email {
    width: 100%;
    height: 47.59px;
    padding: 12.2px;
    border-radius: 2.91px;
}
.footer-email:focus {
    outline: none;
}
.footer-input-wrapper {
    position: relative;
}
.footer-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#08AEEA, #2AF598);
    width: 58px;
    border: none;
    height: 47.59px;
}
.fa-square {
    color: #fff;
    font-size: 15px;
}
.final-text {
    text-align: center;
    color: #fff;
    margin-top: 21.7px;
}
.copy {
    margin-top: 40px;
    border-top: 1px solid rgb(232, 232, 232, 50%);
}
/* hover effects */
.a-list:hover {
    color: #4B54FA;
}
.card-div-wrapper:hover {
    opacity: 70%;
}
.button-book:hover {
    color: #000000;
}
.arrow-wrapper:hover {
    background: linear-gradient(#020607, #2AF598);
}
.each-country:hover::after {
    opacity: 0
}
.footer-list:hover {
    color: #4B54FA;
}
